<h1>Artwork Form</h1>

<div class="form_container small-6 small-centered-columns text-center small-offset-3">
  <form action="/art" method="post" id="artwork_form">
    <label for="artwork_form">Artwork Submission Form</label>
    <input type="text" name="art_title" id="art_title" placeholder="Artwork title..">
    <input type="text" name="art_series_name" id="art_series_name" placeholder="What art series?">
    <input type="text" name="series_number" id="series_number" placeholder="What number is in the series?">
    <input type="url" name="photo_url" id="photo_url" placeholder="Art photo URL">
    <input type="date" name="artwork_date" id="artwork" placeholder="Date art was created">

    <input type="submit" id="submit_art" class="button round" name="art_submit">
  </form>
</div>
