<div class="title small-12 small-centered-columns text-center">
  <h1>Art Series Form<h1>
</div>

  <div class="form_container small-6 small-centered-columns text-center small-offset-3">
    <form action="/series" method="post" id="series_form">
      <label for="series_name">Art Series Form</label>
      <input type="text" name="series_name" id="series_name" placeholder="Art series name goes here" required>
      <input type="text" name="total_printed" id="total_printed" placeholder="How many were printed?..." required>
      <input type="date" name="series_date" id="series_date">
      <textarea rows "4" cols "50" name="series_description" id="series_description"
      placeholder="Enter description..." form="series_form"></textarea>

      <input id="submit_series" name="submit" class="button round" type="submit">
    </form>
  </div>
