<h1><h2>

  <div class="form_container small-6 small-centered-columns text-center small-offset-3">
    <form action="/series" method="post">
      <label for="series_name">Series Name</label>
      <input type="text" id="series_name" name="series_name" required>

      <input class="button round" type="submit">
    </form>
  </div>
