
  <div class="title_div">
    <div class="title small-12 small-centered-columns text-center">
      <h1>Artwork Inventory Management system</h1>
    </div>
  </div>

  <div class="forms_container">
    <div class="small-6 small-centered-columns text-center small-offset-3">
      <a href="/seriesform" class="button">Submit an Art Series</a>
    </div>

    <div class="small-6 small-centered-columns text-center small-offset-3">
      <a href="/artform" class="button">Submit a Piece of Artwork</a>
    </div>
  </div>
