.container {
  background-color: #ecf0f1;
}

.forms_container .button {
  background-color: #1abc9c;
}

.forms_container .button:hover {
  background-color: white;
  color: #1abc9c;
  border: solid 1px #1abc9c;
}
